$main_dark: #0c0b0b;
$main_light: #ffffff;
$sec_light: #9ba4b5;
$tertiary_col: #ff0000;

// $main_dark: #222831;
// $main_light: #eeeeee;
// $sec_light: #999999;
// $tertiary_col: #00adb5;

$horizontal-padding: 100px;
$horizontal-padding-mobile: 1.5rem;

$maxWidth: 1440px;

// $tertiary_col: #c92c6d;  // pink
