---
const { tabItems } = Astro.props;
---

<div class="TabToggle">
	{
		tabItems.map((tabItem: string, ind: number) => (
			<button
				class={`TabToggle__button TabToggle__button--${ind === 0 ? "active" : ""}`}
			>
				{tabItem}
			</button>
		))
	}
</div>

<style lang="scss">
	.TabToggle {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		gap: 0.25rem;

		&__button {
			padding: 0.5rem 1.5rem;
			cursor: pointer;
			border-radius: 4rem;

			border: 0;
			text-align: center;
			background-color: white;

			color: #eeeeee;
			// opacity: 0.5;
			font-size: 1.5rem;

			&--active {
				background-color: #fff;
				color: #000;
				opacity: 1;

				box-shadow:
					0 2px 5px rgba(0, 0, 0, 0.1),
					0 1px 2px rgba(0, 0, 0, 0.06);
			}
		}
	}

	@media screen and (max-width: 768px) {
		.TabToggle {
			&__button {
				// padding: 0.5rem 1rem;
				font-size: 1.3rem;
				// font-size: clamp(14px, 2.4vh, 1.2rem);
				// padding: 0.5rem clamp(12px, 3vh, 1.5rem);
				padding: 0.5rem 1.2rem;
			}
		}
	}
</style>
