---
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import LaptopSection from "./LaptopSection.astro";
import PhoneSection from "./PhoneSection.astro";
const tabItems = ["Patients", "Practices"];
---

<script>
	// if isIOS, add --isIOS to classname

	import { isIOS } from "../utils/helpers";

	const PhoneSection = document.querySelector(".PhoneSection")!;
	if (isIOS()) {
		PhoneSection.classList.add("PhoneSection--isIOS");
	}
</script>

<SectionLayout className="DeviceSectionWrapper">
	<div class="DeviceSection" id="DeviceSection">
		<div class="DeviceSection__top">
			<TabToggle tabItems={tabItems} />
		</div>
		<div class="DeviceSection__mainWrap">
			<div class="DeviceSection__main">
				<div class="PhoneSection">
					<PhoneSection />
				</div>
				<div class="LaptopSection">
					<LaptopSection />
				</div>
			</div>
		</div>
		<button class="PhoneSection__muteBtn">
			<span>Unmute</span>
			<svg
				stroke="currentColor"
				fill="currentColor"
				stroke-width="0"
				viewBox="0 0 24 24"
				height="1em"
				width="1em"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M5.88889 16.0001H2C1.44772 16.0001 1 15.5524 1 15.0001V9.00007C1 8.44778 1.44772 8.00007 2 8.00007H5.88889L11.1834 3.66821C11.3971 3.49335 11.7121 3.52485 11.887 3.73857C11.9601 3.8279 12 3.93977 12 4.05519V19.9449C12 20.2211 11.7761 20.4449 11.5 20.4449C11.3846 20.4449 11.2727 20.405 11.1834 20.3319L5.88889 16.0001ZM20.4142 12.0001L23.9497 15.5356L22.5355 16.9498L19 13.4143L15.4645 16.9498L14.0503 15.5356L17.5858 12.0001L14.0503 8.46454L15.4645 7.05032L19 10.5859L22.5355 7.05032L23.9497 8.46454L20.4142 12.0001Z"
				></path></svg
			>
		</button>
	</div>
</SectionLayout>

<style lang="scss">
	.DeviceSection {
		background-color: #ffffff;
		width: 100vw;
		// height: clamp(0px, 350vh, 3072px); // Ensure enough space for scrolling
		// height: 200vh; // Ensure enough space for scrolling
		// height: 320vh; // Ensure enough space for scrolling
		height: 400vh; // Ensure enough space for scrolling
		overflow: hidden;
		position: relative;

		&__top {
			position: sticky;
			top: 0;
			z-index: 10;
			background-color: #ffffff;

			display: grid;
			place-items: center;
			padding: 3rem 0;
		}

		&__mainWrap {
			height: 100vh;
			overflow: hidden;
		}

		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;

			position: relative;
			width: 100%;

			// overflow-y: auto;
		}

		.PhoneSection,
		.LaptopSection {
			width: 100%;
		}

		.PhoneSection {
			opacity: 1;

			display: grid;
			place-items: center;
			height: calc(100vh - 155px);

			&__muteBtn {
				position: absolute;
				top: calc(100vh - 2.25rem);
				right: 2rem;

				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;
				height: 1.2rem;

				padding: 0.5rem 1rem;
				background-color: transparent;
				cursor: pointer;
				border: 0;
				color: black;
				font-family: "SF Pro Display", Arial, sans-serif;

				transition: all 0.5s;

				svg {
					width: 1rem;
					height: 1rem;
					transition: all 0.5s;
				}
			}
		}
		.LaptopSection {
			// opacity: 0;
			// transform: translateY(100%);

			display: grid;
			place-items: center;
			height: calc(100dvh - 180px);
			position: relative;
		}
	}

	// if it's ios
	@media (max-width: 768px) and (pointer: coarse) {
		.DeviceSection {
			height: 280vh; // Ensure enough space for scrolling
			&__top {
				padding: 2.5rem 0;
			}

			.PhoneSection {
				display: flex;
				flex-direction: column;
				align-items: center;

				&__muteBtn {
					top: calc(100vh - 1.5rem);
					top: calc(100svh - 1.5rem);
					right: 1rem;
				}
			}

			.PhoneSection,
			.LaptopSection {
				height: calc(100vh - 130px);
			}

			.PhoneSection--isIOS {
				// transform: translateY(-20px);
				// background-color: red;
			}

			.LaptopSection {
				display: none;
			}
		}
	}
</style>
