---
// import { textList } from "../utils/constants";
import ArrowButton from "../components/ArrowButton.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

const textList = [
	`<p>Meet <span class="bigRed">inCall</span></p>`,
	`<p>An AI-powered assistant that<br/><span class="regularRed">answers patient</span> calls instantly.</p>`,
	`<p>How it works<span class="italicRed">?</span></p>`,
	`<p>Think of it like a <span class="regularBold">car.</span></p>`,
	`<p>The <span class="regularBold">engine</span> uses AI to answer and<br/>book calls.</p>`,
	`<p>The <span class="regularBold">dashboard</span> tracks and<br/>monitors calls in real-time.</p>`,
	`<p>The <span class="regularBold">driver</span> manages two types of<br/>calls.</p>`,
	`<p>Auto calls that are fully automated, no staff<br/>action needed.</p>`,
	`<p>Assist calls that are live and monitored to<br/>action via the traffic lights.</p>`,
	`<p>The <span class="regularBold">traffic lights.</span></p>`,
	`<p><span class="regularBold">Amber (Awaiting)</span><br/>Action suggested by AI for staff to review.</p>`,
	`<p><span class="regularBold">Green (Auto)</span><br/>Action approved and AI proceeds.</p>`,
	`<p><span class="regularBold">Red (Assist)</span><br/>Staff take over.</p>`,
	`<p>Its the <span class="bigRed">future.</span></p>`,
	`<p><span class="regularBold">Less</span> waiting.</p>`,
	`<p><span class="regularBold">Less</span> admin.</p>`,
	`<p><span class="regularRed">More</span> care.</p>`,
];
---

<SectionLayout className="PlainTextSectionWrapper">
	<div class="PlainTextSectionFixed" id="PlainTextSectionFixed">
		<div class="PlainTextSection">
			{
				textList.map((textItem: string) => (
					<div class="PlainTextSection__inner">
						<div class="PlainTextSection__inner__SVH">
							<span set:html={textItem} />
						</div>
					</div>
				))
			}
		</div>

		<span class="skipBtn">
			<ArrowButton label="Skip" />
		</span>
	</div>
</SectionLayout>

<style lang="scss">
	.PlainTextSectionFixed {
		height: 100vh;
		height: 100svh;
		overflow: hidden;
		width: 100%;
		position: relative;

		.skipBtn {
			position: absolute;
			bottom: 1rem;
			right: 2rem;
		}
	}
	.PlainTextSection {
		background-color: #ffffff;
		width: 100%;
		// height: 100%;
		overflow: hidden;
		opacity: 0;

		// transform: translate(0%, 100%);

		&__inner {
			width: 100%;
			height: 100vh;
			height: 100svh;

			font-size: 4rem;
			line-height: 1;
			text-align: center;
			padding: 0 1.5rem;

			&__SVH {
				width: 100%;
				height: 100vh;
				height: 100svh;

				display: grid;
				place-items: center;
			}

			p {
			}
		}
	}

	@media (max-width: 768px) {
		.PlainTextSection {
			&__inner {
				font-size: 2rem;
				p {
				}
			}
		}
	}
</style>
